/* Spinner */
.spinnersContainer {
    margin-top: 8rem;
}

.Spinner {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #152631;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
