@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

/* Global Styles */
:root {
    --white: #fff;
    --mid-gray: #666;
    --green: #115d23;
    --dark-gray: #333;
    --form-gray: #888;
    --light-gray: #ccc;
    --dark-color: #24292e;
    --info-color: #3d9eee;
    --light-color: #f4f4f4;
    --danger-color: #f06573;
    --success-color: #28a745;
    --warning-color: #eaf369;
    --primary-color: #dc3545;

    /* Calendar Styles */
    --dark-text: #f8fbff;
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-hover: #323048;
    --dark-second: #79788c;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-hover: #edf0f5;
    --light-text: #151426;
    --light-second: #c3c2c8;

    --white: #fff;
    --blue: #0000ff;

    --font-family: cursive;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

html {
    /* 
    The default font size of the browser is 16px,
    so if we want 1rem to be equal to 10px,
    we divide 10px by 16px = 62.5%
    */
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    height: 100vh;
    line-height: 1.6;
    font-size: 1.6rem;
    color: var(--dark-gray);
    background-color: var(--white);
    font-family: "Roboto", "Arimo", sans-serif;
}

.profile,
.admin {
    height: 100vh;
}

/* Backgrounds */

.scheduleBackground {
    height: 100vh;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-image: url("./assets/images/da81bd01-eef0-42a0-9a1c-28292e11d84d.jfif");
}
.profileBackground {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/images/background101.jpg");
}
.profileHeaderBackground {
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.282);
}

.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5rem;
    padding-left: 4rem;
    margin: 0;
    width: 97vw;
}
.profileHeader h2 {
    padding-bottom: 1rem;
}
/* HEXAGONS */
.hexagonsContainer {
    position: relative;
    left: 75rem;
    bottom: 3rem;
    width: 100%;
    height: 100%;
    background: #cfd8dc;
}

.hexagon {
    position: absolute;
    text-decoration: none;
    filter: drop-shadow(-1px 3px 3px #37474f);
}

.hexagon__content {
    width: 120px;
    height: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    -webkit-clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    box-shadow: 0 0 5px 0 rgb(7, 6, 6);
    font-family: "Staatliches";
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 1px #263238, 0 0 1px #263238, 0 0 1px #263238;
    cursor: pointer;
}

.hexagon__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    filter: saturate(30%);
    transition: filter 0.5s ease-out, transform 0.5s ease-out;
    z-index: -1;
}

.hexagonIcon {
    position: absolute;
    top: 1.3rem;
    left: 2.8rem;
    width: 100%;
    height: auto;
    filter: saturate(30%);
    transition: filter 0.5s ease-out, transform 0.5s ease-out;
    z-index: -1;
}
.hexagon__content:hover .hexagon__background,
.hexagon__content:hover .hexagonIcon {
    transform: scale(1.2);
    filter: saturate(100%);
}

.hexagonIcon {
    position: absolute;
    top: 1.3rem;
    left: 2.8rem;
    width: 100%;
    height: auto;
    filter: saturate(30%);
    transition: filter 0.5s ease-out, transform 0.5s ease-out;
    z-index: -1;
}
.hexagon__content:hover .hexagon__background,
.hexagon__content:hover {
    transform: scale(1.2);
    filter: saturate(100%);
}

.hexagons-title {
    position: absolute;
    font-size: small;
    bottom: 2.2rem;
}

a {
    color: var(--info-color);
    text-decoration: none;
}

a:hover {
    color: var(--mid-gray);
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

span {
    font-family: "Roboto", "Arimo", sans-serif;
}

/* Menu */
.navContainer {
    margin: auto;
    width: 110rem;
    overflow: hidden;
    max-width: 110rem;
    padding: 0 3.2rem;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

/* Burger Menu */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggle {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-wrap .burger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-color);
}
/* Hamburger Line */
.menu-wrap .burger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* burger Lines - Top & Bottom */
.menu-wrap .burger > div::before,
.menu-wrap .burger > div::after {
    position: absolute;
    content: "";
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* Move Line Down */
.menu-wrap .burger > div::after {
    top: 10px;
}
/* Toggle Animation */
.menu-wrap .toggle:checked + .burger > div {
    transform: rotate(135deg);
}
/* Turns Lines Into X */
.menu-wrap .toggle:checked + .burger > div:before,
.menu-wrap .toggle:checked + .burger > div:after {
    top: 0;
    transform: rotate(90deg);
}
/* Rotate On Hover When Checked */
.menu-wrap .toggle:checked:hover + .burger > div {
    transform: rotate(225deg);
}
/* Show Menu */
.menu-wrap .toggle:checked ~ .menu {
    visibility: visible;
}
.menu-wrap .toggle:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}
.menu-wrap .toggle:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burgersUlContainer {
    display: flex;
    flex-direction: column;
}
.menu-wrap .menu > div {
    width: 100%;
    height: 100%;
    flex: none;
    display: flex;
    transform: scale(0);
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    background: rgba(17, 17, 17, 0.85);
}
.menu-wrap .menu > div > div {
    opacity: 0;
    max-width: 90vw;
    max-height: 100vh;
    text-align: center;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    color: #fff;
    padding: 1rem;
    font-size: 4rem;
    list-style: none;
}
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li > a:hover {
    color: teal;
}

/* Utilities */

.centeredContainer {
    margin: 0 auto;
    width: 110rem;
    max-width: 110rem;
}

.logInForm,
.signUpForm {
    margin: 0 auto;
}

.logInForm:hover,
.signUpForm:hover {
    background-color: #aba9a939;
}

/* Text Styles*/
.x-large {
    font-size: 6rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

.large {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

.lead {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-color);
}

.text-dark {
    color: var(--dark-color);
}

.text-success {
    color: var(--success-color);
}

.text-danger {
    color: var(--danger-color);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Center All */
.all-center {
    display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Schedules Page Cards */
.card {
    margin: 1rem 0;
    padding: 1.6rem;
    padding-top: 0;
    margin-top: 3.6rem;
    min-width: 6rem;
    border-radius: 0.5rem;
    width: fit-content;
}
.card1 {
    padding: 1rem;
    margin: 1rem 0;
    min-width: 6rem;
    border-radius: 0.5rem;
    width: fit-content;
}
.card2 {
    margin: 0 auto;
    padding: 1.6rem;
    min-width: 6rem;
    border-radius: 0.5rem;
    width: fit-content;
}
/* Home Page */
.home {
    width: 80%;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgb(232, 233, 237);
}

/* Home Cards */
.homeCard {
    margin: 1rem 0;
    padding: 1.6rem;
    padding-top: 0;
    margin-top: 3.6rem;
    min-width: 6rem;
    border-radius: 0.5rem;
    width: fit-content;
}
.homeCard0 {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    flex-direction: column;
}
.homeCard0 .headers h1 {
    font-size: 2.4rem;
}
.homeCard0 .headers {
    display: flex;
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.homeCard0 button {
    width: 14rem;
    height: 3rem;
    margin-top: 1rem;
    color: white;
    border-radius: 0.4rem;
    background-color: rgba(1, 33, 46, 0.817);
}
.homeCard0 button:hover {
    background-color: rgba(1, 33, 46, 0.979);
}
.homeCard0 a {
    color: white;
}
.homeCard1 {
    margin: 0 auto;
}
.homeCard1 img {
    margin-top: 8rem;
    border-radius: 10rem;
}
.homeCard2 {
    margin-left: 4rem;
}

/* Admins Page */
.adminsPage {
}

/* List */
.list {
    margin: 0.8rem 0;
}

.list li {
    padding-bottom: 0.8rem;
}

/* Padding */
.p {
    padding: 0.8rem;
}
.p-1 {
    padding: 1.6rem;
}
.p-2 {
    padding: 3.2rem;
}
.p-3 {
    padding: 3rem;
}
.py {
    padding: 0.8rem 0;
}
.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}

/* Margin */
.m {
    margin: 0.8rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.my {
    margin: 0.8rem 0;
}
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2rem 0;
}
.my-3 {
    margin: 3rem 0;
}

/* Grid */
.gridContainer {
    width: 100%;
}
.grid-2 {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    align-items: baseline;
    margin-left: 8rem;
    margin-right: 8rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    margin-right: 1rem;
    padding: 0.6rem 2rem;
    border-radius: 0.5rem;
    color: var(--dark-gray);
    background: var(--light-color);
    transition: opacity 0.2s ease-in;
}

.btn-link {
    margin: 0;
    padding: 0;
    background: none;
}

.btn-block {
    width: 100%;
    display: block;
    cursor: pointer;
}

.btn-clear {
    height: 2.7rem;
    margin-right: 0;
    line-height: 1.4rem;
    border: 1px solid var(--form-gray);
}

.btn-sm {
    font-size: 1.2rem;
    margin-right: 0.3rem;
    padding: 0.5rem 1.6rem;
}

.badge {
    display: inline-block;
    margin: 0.5rem;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    color: var(--dark-gray);
    background: var(--light-color);
}

.alert {
    opacity: 0.9;
    margin: 1rem 0;
    padding: 0.7rem;
    border-radius: 0.5rem;
    color: var(--dark-gray);
    background: var(--light-color);
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    color: var(--white);
    background: var(--primary-color);
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
    color: var(--dark-gray);
    background: var(--light-color);
}

.btn-info,
.bg-info,
.badge-info,
.alert-info {
    color: rgb(255, 255, 255);
    background: var(--info-color);
}

.btn-warning,
.bg-warning,
.badge-warning,
.alert-warning {
    color: rgb(58, 57, 5);
    background: var(--warning-color);
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    color: var(--white);
    background: var(--dark-color);
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
    color: rgb(39, 2, 2);
    background: var(--danger-color);
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
    color: var(--white);
    background: var(--success-color);
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
    color: var(--dark-gray);
    background: var(--white);
    border: var(--light-gray) solid 1px;
}

.btn:hover {
    opacity: 0.8;
}

.bg-light,
.badge-light {
    border: var(--light-gray) solid 1px;
}

.round-img {
    width: 15rem;
    border-radius: 50%;
}

.btnLogOut {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 1rem;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    color: var(--dark-gray);
    background: var(--light-color);
    transition: opacity 0.2s ease-in;
}
.btnLogOut:hover {
    opacity: 0.8;
}

/* Forms */

.topBlock {
    width: 4rem;
    height: 14rem;
}

.form {
    width: 20rem;
    display: flex;
    margin: 0 auto;
    padding-top: 2rem;
    flex-direction: column;
}

.signLogUp {
    font-size: 1rem;
    margin-top: 1rem;
}

input {
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.form-text {
    display: block;
    margin-top: 0.5rem;
    color: var(--form-gray);
}

input[type="submit"] {
    outline: none;
    border: 0.15rem solid var(--green);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
    display: block;
    width: 100%;
    padding: 0.6rem;
    font-size: 2rem;
    border: 0.1rem solid var(--light-gray);
}

input[type="submit"],
button {
    font: inherit;
}

input[type="submit"]:disabled {
    opacity: 0.6;
    cursor: default;
}

/* Navbar */
.navbar {
    z-index: 1;
    width: 100%;
    max-width: 100%;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container .logo {
    color: var(--white);
    transition: all 0.2s ease-in-out;
}

.navbar .container .logo a {
    color: inherit;
    padding: 0.7rem;
    margin: 0 0.4rem;
}

.navbar .container .logo:hover {
    color: var(--light-gray);
}

.navbar ul {
    display: flex;
}

.navbar .link {
    padding: 0.7rem;
    margin: 0 0.4rem;
    color: var(--light-gray);
    transition: all 0.2s ease-in-out;
}

.navbar .link.active {
    color: var(--white);
}

.navbar .link:hover {
    color: var(--mid-gray);
}

/* Spinner */
.spinner {
    width: 20rem;
    margin: auto;
    display: block;
}

/* Calendar styles */

.calendarsGridContainer {
    width: 100%;
}

/* OTHER */

.calendarContainer {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover: var(--dark-hover);
    --color-txt: var(--dark-text);
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

.calendar {
    position: relative;
    overflow: hidden;
    width: max-content;
    border-radius: 30px;
    height: max-content;
    background-color: var(--bg-main);
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    display: flex;
    padding: 1rem;
    font-weight: 600;
    font-size: 2.5rem;
    align-items: center;
    color: var(--color-txt);
    justify-content: space-between;
}

.calendar-body {
    padding: 1rem;
}

.day:hover {
    background-color: #79788c;
}

.day-active {
    background-color: #79788c;
}

.calendar-week-day {
    height: 5rem;
    display: grid;
    font-weight: 600;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    gap: 0.2rem;
    color: var(--color-txt);
    grid-template-columns: repeat(7, 1fr);
}

.calendar-days div {
    position: relative;
    display: flex;
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    animation: to-top 1s forwards;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    height: 0;
    width: 0.2rem;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    left: 0;
    bottom: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 0.2rem;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    right: 0;
    bottom: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    border-radius: 50%;
    color: var(--white);
    background-color: var(--blue);
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    width: 4rem;
    height: 4rem;
    display: grid;
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 50%;
    place-items: center;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 1rem;
    color: var(--color-txt);
}

.dark-mode-switch {
    position: relative;
    width: 4.8rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 1.4rem;
    background-color: var(--bg-second);
}

.dark-mode-switch-ident {
    position: absolute;
    border-radius: 50%;
    width: 2.1rem;
    height: 2.1rem;
    top: 0.2rem;
    left: 0.2rem;
    background-color: var(--bg-main);
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 0.2rem;
    left: calc(0.2rem + 50%);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    gap: 0.5rem;
    padding: 2rem;
    display: grid;
    font-weight: 800;
    visibility: hidden;
    pointer-events: none;
    transform: scale(1.5);
    background-color: var(--bg-main);
    grid-template-columns: repeat(3, auto);
    font-family: "Courier New", Courier, monospace;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    cursor: pointer;
    text-align: center;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Available Hours List */

.availableHoursContainer {
    color: white;
    background-color: rgba(17, 17, 17, 0.85);
    border-radius: 2rem;
    width: 40rem;
    margin: 0 auto;
    margin-top: 3rem;
}
.availableHoursContainer ul {
    margin: 0 auto;
    width: fit-content;
    padding-bottom: 1rem;
}

.availableHoursContainer h3 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.activeHour {
    opacity: 0.5;
}

.hoursList li {
    width: 100%;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-family: "Courier New", Courier, monospace;
}
.hoursList li:hover {
    transform: scale(1.2);
}

.noneAvailableParagraph {
    font-weight: 800;
    margin-top: 14rem;
}

.mineBtn {
    cursor: grab;
    width: 10rem;
    height: 3rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    border: 1px solid;
    border-radius: 1rem;
    background-color: var(--dark-color);
}

.editMeetingBtn {
    cursor: grab;
    width: 11rem;
    height: 3rem;
    color: white;
    margin-top: 1rem;
    border: 1px solid;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: var(--danger-color);
}

.scheduledList {
    background-color: var(--danger-color);
}

/* TasksList */

.myScheduledMeetings {
    margin-top: 7rem;
}

.myScheduledMeetings button {
    margin-bottom: 1.2rem;
}

.getScheduled {
    cursor: pointer;
    width: 10rem;
    border: 1px solid;
    border-radius: 1rem;
    color: white;
    background-color: var(--dark-color);
}

.task-header {
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    background-color: #282c34;
}

.tasks-container {
    display: flex;
    flex-wrap: wrap;
    width: 38.2rem;
    /* border: solid rgb(255, 238, 238); */
}

.task {
    width: 50%;
    font-size: small;
}

.task h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Verdana, sans-serif;
    margin-left: 1rem;
}
.task-input {
    border: none;
    width: 20rem;
    height: 2rem;
    cursor: pointer;
    text-indent: 1rem;
    border-radius: 15px;
}

.input-container {
    padding-right: 1rem;
}

.taskField {
    width: 100%;
    height: 5rem;
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
}

#checkbox {
    margin-left: 1rem;
    accent-color: #030303;
    cursor: pointer;
}
.lineThrough {
    text-decoration: line-through;
}
.trash {
    cursor: pointer;
}

/* Mobile Styles */

/* Small screens */
@media (max-width: 1200px) {
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .x-large {
        font-size: 5rem;
    }

    .large {
        font-size: 3rem;
    }

    .lead {
        font-size: 1.6rem;
    }

    .grid-4 {
        grid-template-columns: 1fr;
    }

    .grid-3 {
        grid-template-columns: 1fr;
        margin: 0 auto;
        grid-gap: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid-3 .card {
        order: 1;
        padding: 0;
        margin: 0;
    }
    .grid-3 .card2 {
        order: 2;
        padding-top: 0;
        margin-top: 0;
    }

    .myScheduledMeetings {
        margin-top: 0;
    }

    .availableHoursContainer {
        padding: 0;
        margin-top: 0;
        width: 38.2rem;
        min-width: 10rem;
    }
    .availableHoursContainer h3 {
        margin: 0;
        margin-bottom: 0;
    }

    .hoursList li {
        font-size: 1.9rem;
    }

    .noneAvailableParagraph {
        margin-top: 0;
    }

    button {
        height: 4rem;
    }
    .btnLogOut {
        height: 3rem;
    }

    .container,
    .logInForm,
    .signUpForm,
    .centeredContainer,
    .navbar .container {
        width: 100%;
    }
    form {
        min-width: 18rem;
    }

    .hexagonsContainer {
        left: 45rem;
    }

    .hexagon__content {
        width: 60px;
        height: 60px;
        font-size: 10px;
    }
    .hexagonIcon {
        top: 1.2rem;
        left: 1.4rem;
    }
    .hexagons-title {
        position: absolute;
        font-size: smaller;
        bottom: 1.5rem;
    }
    .homeCard0 .headers h1 {
        font-size: 1.3rem;
    }
}

/* Tablet and phone */
@media (max-width: 700px) {
    html {
        font-size: 50%;
    }

    .hide-sm {
        display: none;
    }

    .grid-3 {
        margin: 0 auto;
        grid-template-columns: 1fr;
        padding-top: 3rem;
        grid-gap: 0;
    }
    .grid-2 {
        grid-template-columns: 1fr;
    }
    .hoursList li {
        font-size: 2.2rem;
    }
    .btnLogOut {
        height: 5rem;
        width: 15rem;
    }
    .hexagonIcon {
        left: 1.7rem;
    }
    .hexagonsContainer {
        left: 37rem;
    }
    .homeCard0 {
        margin-top: 12rem;
    }
    .homeCard1 img {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .noneAvailableParagraph {
        margin-top: 0;
    }
    button {
        width: 20rem;
    }
    ul .hoursList {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: fit-content;
        height: 50%;
    }
    .hexagonsContainer {
        left: 20rem;
    }
    .homeCard0 {
        margin-left: 0;
    }
    .homeCard0 .headers h1 {
        font-size: 1.3rem;
    }
}
